{% macro categoryTree(branch) %}
  <li class="category-tree__item collapsed">
    <div class="title-wrapper">
      <span class="indicator"></span>
      <span class="title">{{branch.title}}</span>
    </div>
    <ul class="category-tree {% if branch.children.length <= 0 %}empty{% endif %}">
      {% if branch.children.length > 0 %}
        {% for branch in branch.children %}
          {{ categoryTree(branch) }}
        {% endfor %}
      {% endif %}
      <li class="category-tree__item category-tree__item--non-category">
        <a class="category-tree__item--add" href="/admin/settings/categorizer/add/child/{{branch.id}}" title="Add child category">Add subcategory to <span>{{branch.title}}</span></a>
      </li>
    </ul>
  </li>
{% endmacro %}

<div class="categorizer" neon-categorizer>
  <div class="categorizer__bar">
    {% if model.length %}
      {% if model.length > 1 %}
        <span class="info">{{model.length}} categories</span>
      {% else %}
        <span class="info">{{model.length}} category</span>
      {% endif %}
    {% else %}
      <span class="info">No categories</span>
    {% endif %}
    <a class="button" href="/admin/settings/categorizer/add/child/root">Add root category</a>
  </div>
  <div class="categorizer__content">
    <ul class="category-tree top">
      {% for category in model %}
        {{ categoryTree(category) }}
      {% else %}
        <li class="notice">No categories</li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  var categorizer = new neonComponentHandler('neon-categorizer');
  categorizer.when('click', '.category-tree__item .title-wrapper', (event, element) => {
    var parentElement = element.parentNode;
    parentElement.classList.toggle('collapsed');
    parentElement.classList.toggle('expanded');
  });
</script>
