// Flash message styling
.messages {
  &__error,
  &__notice {
    padding: 0.5rem;
    margin-bottom: 1rem;
    line-height: 24px;
  }

  &__error {
    color: white;
    background-color: $color__info--error;
    @include mdl-icon($icon: '\E000');
  }

  &__notice {
    color: #333;
    background-color: $color__info--notice;
    @include mdl-icon($icon: '\E88E');
  }
}

// General Notices styling
.notice {
  padding: 0.5rem;
  margin: 1rem 0;
  line-height: 24px;
  color: #333;
  background-color: $color__info--notice;
  @include mdl-icon($icon: '\E88E');
}
