@include meyer-reset();

html, body {
  background-color: $general--background-color;
}

.page {
  &__wrapper {
    min-height: 100vh;
    font-size: $general--font-size;
    font-family: $general--font-family;
  }

  &__content {
    flex-grow: 1;
    background-color: white;
  }
}
