<link rel="stylesheet" type="text/css" href="{% urlhelper "{{static}}/admin.css" %}{% endurlhelper %}" />
<link rel="stylesheet" type="text/css" href="{% urlhelper "{{static}}/js/lib/dropzone.min.css" %}{% endurlhelper %}" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jura:400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<script type="text/javascript" src="{% urlhelper "{{neon}}/componenetHandler/neonComponentHandler.js" %}{% endurlhelper %}"></script>
<script type="text/javascript" src="{% urlhelper "{{static}}/js/lib/markdown.js" %}{% endurlhelper %}"></script>
<script type="text/javascript" src="{% urlhelper "{{static}}/js/lib/moment.js" %}{% endurlhelper %}"></script>
<script type="text/javascript" src="{% urlhelper "{{static}}/js/lib/nunjucks.min.js" %}{% endurlhelper %}"></script>
<script type="text/javascript" src="{% urlhelper "{{static}}/js/lib/dropzone.min.js" %}{% endurlhelper %}"></script>
