.post-center {
  &__bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 1rem 0;
    background-color: #f0f0f0;
    .new-post {
      margin-left: 0.75rem;
      background-color: $color__action--neutral;
    }
  }
  &__posts {
    .no-posts {
      padding: 0.5rem;
      background-color: $color__info--notice;
    }
  }
}
