{% macro menuItem(link) %}
  <li class="navigation-list__item {% if link.active %}navigation-list__item--active{% endif %}">
    <a href="{{link.link}}" class="{{link.class}}">{{link.title}}</a>
    {% if link.links and link.links.length > 0 %}
      <ul class="navigation-list">
        {% for link in link.links %}
          {{ menuItem(link) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endmacro %}

<ul class="navigation-list top">
  {% for link in links %}
      {{ menuItem(link) }}
  {% endfor %}
</ul>
