.button {
  &#{&}__primary {
    @include button-primary();

    &--small {
      @include button-primary($button__size: 'small');
    }

    &--large {
      @include button-primary($button__size: 'large');
    }
  }

  &#{&}__secondary {
    @include button-secondary();

    &--small {
      @include button-secondary($button__size: 'small');
    }

    &--large {
      @include button-secondary($button__size: 'large');
    }
  }

  &#{&}__menu {
    &-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }

    > .button__meny-trigger {
      @include mdl-icon('keyboard_arrow_down', 'after') {
        padding-left: 0.5rem;
        margin: 0 -0.75rem 0 0.75rem;
        border-left: 1px solid transparentize($button__color, 0.25);
      }
    }

    &--open &-list {
      display: flex;

      &-item {
        background-color: $button__background_color;

        &:not(:last-of-type) {
          .button__primary {
            border-bottom: 1px solid rgba(255,255,255,0.15);
          }
        }

        &:last-of-type {
          border-radius: 0 0 $general__border-radius $general__border-radius;
        }
      }
    }
  }
}