@mixin mdl-icon($icon: '', $position: 'before', $font-size: 24px, $vertical-align: bottom){
  &:#{$position} {
    @if $position == 'before' {
      margin-right: 0.25rem;
    } @else {
      margin-left: 0.25rem;
    }
    content: $icon;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: $font-size;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: $vertical-align;
  }
}
