$navigation--background-color: #ffffff !default;
$navigation__logo--background-color: #292a51 !default;

#neon.admin {
  #header {
    display: flex;
    flex-direction: column;
    background-color: $navigation--background-color;
    .header-logo {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 4rem;
      padding: 50% 0;
      margin: 0 0 3rem;
      font-family: $general__neon--font-family;
      background-color: $navigation__logo--background-color;
      span {
        color: white;
        &.logo-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 0;
          & .capital {
            margin: -12px 0 0;
            font-size: 6rem;
            line-height: 5rem;
            text-align: center;
          }
          & .subhead {
            font-size: 1rem;
            text-align: center;
            letter-spacing: 12px;
            text-indent: 12px;
          }
        }
      }
    }
    #nav {
      .navigation-list {
        display: flex;
        flex-direction: column;
        &__item {
          font-size: 1rem;
          font-weight: 400;
          color: #333;
          a {
            display: block;
            padding: 0.75rem 1rem;
            color: inherit;
          }
          &--active > a {
            color: #333;
            font-weight: 600;
            background-color: #f5f5f5;
          }
        }
      }
    }
  }
}
