<!--{{model|dump}}-->
<div id="editor" class="composer">
  <form action="/admin/composer/save/{{model.post.hashid}}" method="POST">

    <input id="header" type="hidden" name="header" value="{{model.post.header}}" />

    <input id="headline" type="text" name="headline" value="{{model.post.headline}}" placeholder="Headline" required />

    <textarea id="body" name="body" class="materialize-textarea" placeholder="Post body" required>{{model.post.body}}</textarea>

    <input id="source" type="text" name="source" value="{{model.post.source}}" placeholder="Source" />

    <input id="tags" type="text" name="tags" value="{{model.post.tags}}" placeholder="Tags" />

    <input type="submit" value="save"/>


    <select name="category">
      <option value="">No Category</option>
      {% for category in model.categoryTree %}
        <option value="{{category.id}}"{% if category.id == model.post.categoryId %}selected{% endif %}>{{category.title}}</option>
      {% else %}

      {% endfor %}
    </select>

    {% if model.categoryTree.length <= 0 %}
      <p>No categories - please add a category using the <a href="/admin/settings/categorizer">Categorizer</a></p>
    {% endif %}

  </form>

  <form action="/admin/composer/delete/{{model.hashid}}" method="POST">
    <input type="submit" value="delete"/>
  </form>

</div>
