<!--{{model|dump}}-->
<form action="/admin/new/post" method="post">
    <button type="submit" value="newPost">New Post</button>
</form>
{% for article in model %}

  {# Print Headline of Article #}
  {% if article.body %}
      <h2 class="headline truncate"><a href="admin/composer/{{article.hashid}}">{{article.headline}}</a></h2>
  {% else %}
      <h2 class="headline truncate"><a href="admin/composer/{{article.hashid}}">Untitled</a></h2>
  {% endif %}

  {# Print Headline of Article #}
  {% if article.headline %}
      <p class="body truncate">{{article.body|truncate(64, True)}}</p>
  {% else %}
      <p class="body truncate">This could be the start of the article</p>
  {% endif %}

  <div class="post-info">
    <span class="author">{{article.author.displayname}}</span>
    <span class="date">{{article.postDate}}</span>
  </div>

{% else %}

  <p>No articles written yet!</p>

{% endfor %}
